body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.style_Bar__nNJjZ {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  
}

.c1 {
padding-top: 45px;
margin-top: 5px;
}